.btn-remove {
   text-decoration: none;
   /* color: red; */
}

.btn-remove:hover {
   /* color: red; */
   font-weight: bold;
}

/* Footer Styles - Name / Heart etc. */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

   /* background-color: lightgray; */
   text-align: center;
}

h4 {
   color: var(--bs-body-color);
}

#profile {
   text-decoration: none;
   color: var(--bs-body-color);
   text-shadow: 1px 1px 1px rgb(0, 102, 49);
   font-weight: bold;
}
#profile:hover {
   text-decoration: none;
   color: greenyellow;
   /* box-shadow: 0 0 10px greenyellow; */
   text-shadow: 0 0 10px greenyellow;
}

#heart {
   color: rgb(255, 0, 0);
   text-shadow: 1px 1px 1px rgb(1, 1, 1);
}

/* Text-Input */
#newItem {
   color: rgb(2, 254, 132);
}

/* Input-Group -Desktop / Mobile */
.input-group-desktop {
   display: flex;
}
.input-group-mobile {
   display: none;
}

/* Styles for mobile devices */
@media only screen and (max-width: 600px) {
   .input-group-mobile {
      display: flex;
   }
   .input-group-desktop {
      display: none;
   }
}

/* Autocomplete Style */
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
   background: rgb(2, 254, 132) !important;
   color: #000000 !important;
   border-color: #000000 !important;
}
